/* General Page Styling */
body {
    font-family: Arial, sans-serif;
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Form Container */
.container {
    background: rgba(138, 211, 236, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(27, 68, 85, 0.3);
    width: 320px;
}

/* Form Heading */
h2 {
    text-align: center;
}

/* Form Layout */
form {
    display: flex;
    flex-direction: column;
}

/* Labels */
label {
    margin-top: 10px;
}

/* Input Fields */
input, select, button {
    margin-top: 5px;
    padding: 8px;
    border: 1px solid #8d82df;
    border-radius: 5px;
}

/* Submit Button */
button {
    margin-top: 15px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #4696eb;
}
